@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --wod-color-white: #fff;
  --wod-color-black: #000;
  --wod-color-dark: #191813;
  --wod-color-beige: #b5b3a4;
  --wod-color-tan: #444;
  --wod-color-brown: #5a3b28;
  --wod-color-brown-dark: #2e2a26;
  --wod-color-brown-light: #4c3c29;
  --wod-color-gold: #7a5e3a;
  --wod-color-gold-light: #cfa97e;
  --wod-color-corruption: #363b4e;
  --wod-color-corruption-light: #927fbf;
  --wod-color-toughness: #9f1e49;
  --wod-color-willpower: #005792;
  --wod-color-border: #7a7971;
  --wod-color-light-text: #ddd;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.max-width {
  width: 100%;
}

.indent {
  padding-left: 10%;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-row,
.flex-column {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-stretch {
  align-items: stretch;
}

.flex-align-center {
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flexshrink {
  flex: 0;
}

.flexgrow {
  flex: 1;
}

.flexlarge {
  flex: 2;
}

.flex-gap {
  gap: 10px;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to wrath-of-davokar sheets */
.wrath-of-davokar .attributes-grid {
  grid-template-rows: max-content;
}
.wrath-of-davokar .attributes-grid .text-attribute {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #191813;
  text-align: left;
  width: 80%;
  cursor: pointer;
}
.wrath-of-davokar .attributes-grid .text-attribute:hover {
  text-shadow: 0 0 4px orangered;
}
.wrath-of-davokar .attributes-grid .text-skill {
  text-align: left;
  padding-left: 10px;
  width: 80%;
  cursor: pointer;
}
.wrath-of-davokar .attributes-grid .text-skill:hover {
  text-shadow: 0 0 4px orangered;
}
.wrath-of-davokar .attributes-grid .input-attribute,
.wrath-of-davokar .attributes-grid .input-skill {
  max-width: 3em;
}
.wrath-of-davokar .attributes-grid .input-attribute {
  font-weight: bold;
}
.wrath-of-davokar .attributes-grid .skill-bonus {
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
}
.wrath-of-davokar .attributes-grid .spellcasting-row {
  justify-content: space-around;
  align-content: center;
  text-align: center;
  gap: 10px;
  border-top: 1px solid #7a7971;
  padding-top: 10px;
}
.wrath-of-davokar .attributes-grid .spellcasting-row .spellcasting-title {
  font-weight: bold;
  text-transform: uppercase;
  min-width: 20%;
  cursor: pointer;
}
.wrath-of-davokar .attributes-grid .spellcasting-row .spellcasting-title:hover {
  text-shadow: 0 0 4px orangered;
}
.wrath-of-davokar .attributes-grid .spellcasting-row .spellcasting-total {
  font-weight: bold;
}

.wrath-of-davokar .progress-bar {
  border-width: 1px;
  border-style: solid;
  border-color: #7a7971;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.01);
  width: 100%;
  height: 20px;
  display: flex;
  overflow-x: clip;
  overflow-y: clip;
  position: relative;
}
.wrath-of-davokar .progress-bar .bar-toughness {
  border: none;
  background-color: #9f1e49;
  height: 20px;
}
.wrath-of-davokar .progress-bar .bar-corruption-threshold {
  border-width: 0px 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.7);
  background-color: black;
  width: 3px;
  position: absolute;
  height: 20px;
}
.wrath-of-davokar .progress-bar .bar-corruption-permanent {
  border: none;
  background-color: #363b4e;
  height: 20px;
}
.wrath-of-davokar .progress-bar .bar-corruption-temporary {
  border: none;
  background-color: #927fbf;
  height: 20px;
}
.wrath-of-davokar .bar-willpower {
  margin-top: 0;
  margin-bottom: 0;
  column-gap: 3px;
}
.wrath-of-davokar .bar-willpower .bar-willpower-empty {
  border-width: 1px;
  border-color: #7a7971;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.01);
  height: 20px;
}
.wrath-of-davokar .bar-willpower .bar-willpower-filled {
  border-width: 1px;
  border-color: #7a7971;
  border-style: solid;
  background-color: #005792;
  height: 20px;
}

.wrath-of-davokar .effects .item .effect-source,
.wrath-of-davokar .effects .item .effect-duration,
.wrath-of-davokar .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 12px;
}
.wrath-of-davokar .effects .item .effect-controls {
  border: none;
}

.wrath-of-davokar .item-form {
  font-family: "Roboto", sans-serif;
}
.wrath-of-davokar .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.wrath-of-davokar .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.wrath-of-davokar .sheet-header .header-fields {
  flex: 1;
}
.wrath-of-davokar .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.wrath-of-davokar .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.wrath-of-davokar .sheet-tabs {
  flex: 0;
}
.wrath-of-davokar .sheet-body,
.wrath-of-davokar .sheet-body .tab,
.wrath-of-davokar .sheet-body .tab .editor {
  height: 100%;
  min-height: 10em;
}
.wrath-of-davokar .tox .tox-editor-container {
  background: #fff;
}
.wrath-of-davokar .tox .tox-edit-area {
  padding: 0 8px;
}

.wrath-of-davokar .die-roll {
  border: 1px solid #191813;
  border-radius: 20px;
  padding: 5px;
  width: fit-content;
  background: #191813;
  color: #ddd;
}
.wrath-of-davokar .die-roll:hover, .wrath-of-davokar .die-roll:focus, .wrath-of-davokar .interactive:hover, .wrath-of-davokar .interactive:focus {
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(255, 0, 0, 0.2), 0 0 20px 0 rgba(255, 0, 0, 0.19);
  font-weight: bold;
}

.wrath-of-davokar .quality {
  text-align: center;
  background-color: var(--color-dark);
  color: var(--color-light-text);
  border-radius: 20px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 5px;
}
.wrath-of-davokar .item-send-to-chat {
  flex: 0;
  font-size: 1.5em;
  aspect-ratio: 1/1;
  margin-right: 5px;
}
.wrath-of-davokar .items-title {
  font-size: 1.25em;
  margin-top: 15px;
}
.wrath-of-davokar .items-header {
  height: fit-content;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.wrath-of-davokar .items-header > * {
  font-size: 14px;
  text-align: center;
}
.wrath-of-davokar .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.wrath-of-davokar .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.wrath-of-davokar .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrath-of-davokar .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.wrath-of-davokar .items-list .item-name h3, .wrath-of-davokar .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.wrath-of-davokar .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.wrath-of-davokar .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.wrath-of-davokar .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #ddd;
}
.wrath-of-davokar .items-list .item:last-child {
  border-bottom: none;
}
.wrath-of-davokar .items-list .item .item-name {
  color: #191813;
}
.wrath-of-davokar .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.wrath-of-davokar .items-list .item .item-attribute {
  flex: 0 0 120px;
  padding: 0 8px;
  text-align: center;
}
.wrath-of-davokar .items-list .item .item-armor-rating {
  width: 2em;
}
.wrath-of-davokar .items-list .item .quality-list-row {
  width: 100%;
  justify-content: start;
  gap: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.wrath-of-davokar hr {
  border: 1px solid #7a7971;
}
.wrath-of-davokar img.icon {
  border: none;
}

.wrath-of-davokar .panel,
.wrath-of-davokar .panel-no-flex {
  border: 1px solid #7a7971;
  margin: 5px;
  min-width: 200px;
}
.wrath-of-davokar .panel .panel-header,
.wrath-of-davokar .panel-no-flex .panel-header {
  background-color: #191813;
  color: #ddd;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.wrath-of-davokar .panel .panel-header input,
.wrath-of-davokar .panel-no-flex .panel-header input {
  color: #ddd;
}
.wrath-of-davokar .panel .panel-content,
.wrath-of-davokar .panel-no-flex .panel-content {
  margin: 10px;
}
.wrath-of-davokar .panel {
  flex: 1;
}

.wrath-of-davokar .resource-label,
.wrath-of-davokar .resource-title {
  font-weight: bold;
}
.wrath-of-davokar .resource-title,
.wrath-of-davokar .resource-title-small {
  text-transform: uppercase;
  text-align: left;
}
.wrath-of-davokar .resource-title-small {
  font-weight: normal;
}
.wrath-of-davokar .resource-text {
  font-weight: normal;
  white-space: nowrap;
}
.wrath-of-davokar .resource-grid {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 10px;
  margin: 10px 0;
  padding: 0;
  align-items: center;
}
.wrath-of-davokar .resource-grid-2 {
  display: grid;
  grid-template-columns: min-content auto min-content auto;
  gap: 10px;
  margin: 10px 0;
  padding: 0;
  align-items: center;
}

.wrath-of-davokar .talent-card {
  border: 1px solid #7a7971;
  max-width: 300px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}
.wrath-of-davokar .talent-card .talent-header {
  background-color: #191813;
  color: #ddd;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.wrath-of-davokar .talent-card .talent-text {
  overflow-y: scroll;
  max-height: 200px;
  text-align: justify;
  flex: 1;
}
.wrath-of-davokar .talent-card .talent-content {
  margin: 10px;
  display: flex;
  flex-flow: column;
  flex: 1;
  justify-content: space-between;
}
.wrath-of-davokar .talent-card .talent-bottom-row {
  text-align: left;
  border-top: 1px solid #7a7971;
}

@keyframes pulse-black {
  0% {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
    filter: brightness(1) contrast(1);
  }
  50% {
    box-shadow: 0 0 50px rgb(0, 0, 0);
    filter: brightness(0.5) contrast(1.5) drop-shadow(0 0 20px rgba(0, 0, 0, 0.8));
  }
  70% {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
    filter: brightness(0.6) contrast(1.3) drop-shadow(0 0 40px rgba(0, 0, 0, 0.5));
  }
  100% {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0);
    filter: brightness(1) contrast(1);
  }
}
@keyframes pulse-gold {
  0% {
    box-shadow: 0 0 0px rgba(207, 169, 255, 0.8);
    filter: brightness(1) contrast(1);
  }
  50% {
    box-shadow: 0 0 50px rgb(207, 169, 126);
    filter: brightness(1.5) contrast(1.4);
  }
  70% {
    box-shadow: 0 0 100px rgba(207, 169, 126, 0.5);
    filter: brightness(1.4) contrast(1.2);
  }
  100% {
    box-shadow: 0 0 100px rgba(207, 169, 126, 0);
    filter: brightness(1) contrast(1);
  }
}
.wrath-of-davokar.wrath-orb-container {
  width: 100px;
  height: auto;
  position: relative;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrath-of-davokar.wrath-orb-container .pulse-increase {
  animation: pulse-black 2s ease-in-out;
}
.wrath-of-davokar.wrath-orb-container .pulse-decrease {
  animation: pulse-gold 2s ease-in-out;
}
.wrath-of-davokar.wrath-orb-container .wrath-orb {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, rgba(17, 17, 17, 0.2) 0%, rgba(255, 255, 255, 0.3333333333) 100%);
  position: relative;
  z-index: 10;
}
.wrath-of-davokar.wrath-orb-container .wrath-orb .wrath-border {
  position: absolute;
  top: -15px;
  left: -10px;
  min-width: 120px;
  min-height: 120px;
  z-index: 13;
}
.wrath-of-davokar.wrath-orb-container .wrath-orb .wrath-liquid-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.wrath-of-davokar.wrath-orb-container .wrath-orb .wrath-liquid-container .wrath-liquid {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateY(0%);
  transition: transform 0.4s ease-in-out;
  z-index: 11;
}
.wrath-of-davokar.wrath-orb-container .wrath-orb .wrath-points {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #cfa97e;
  font-size: 1.6rem;
  font-family: "Cinzel", serif;
  z-index: 12;
  text-shadow: 0 0 5px #000;
}
.wrath-of-davokar.wrath-orb-container .wrath-controls {
  margin-top: 10px;
  display: flex;
  gap: 6px;
  pointer-events: all;
}
.wrath-of-davokar.wrath-orb-container .wrath-controls button {
  background: #191813;
  border: 1px solid #7a5e3a;
  color: #cfa97e;
  font-size: 1.2rem;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  cursor: pointer;
  font-family: serif;
}
.wrath-of-davokar.wrath-orb-container .wrath-controls button:hover {
  border: 1px solid #7a5e3a;
  background: #444;
  color: white;
  box-shadow: 0 0 5px #cfa97e;
}
.wrath-of-davokar.wrath-orb-container .wrath-controls button:focus {
  border: 1px solid #7a5e3a;
  box-shadow: 0 0 5px #cfa97e;
  outline: unset;
}

/* Hud Styles */
.wp-hud {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-shadow: 0 0 4px black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px 4px;
  transition: all 0.2s ease;
}
.wp-hud .wp-count {
  font-size: 14px;
  line-height: 1;
}

/* Chat Message Styles */
.wrath-of-davokar.chat-message {
  padding: 0px;
}
.wrath-of-davokar.chat-message .message-header {
  padding: 5px;
  border-radius: 3px 3px 0 0;
}
.wrath-of-davokar.chat-message .message-header .message-sender {
  align-items: center;
  gap: 6px;
  flex: 2;
}
.wrath-of-davokar.chat-message .message-header .message-sender .message-speaker {
  font-weight: bold;
}
.wrath-of-davokar.chat-message .message-header .message-sender .message-user {
  font-size: 0.75em;
}
.wrath-of-davokar.chat-message .message-content {
  padding: 5px;
}
.wrath-of-davokar.chat-message .message-content .item-card-header {
  align-content: end;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #7a7971;
}
.wrath-of-davokar.chat-message .message-content .applyItemEffectButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.wrath-of-davokar.chat-message .message-content .applyItemEffectButton .effect-icon {
  width: 1.5em;
  height: 1.5em;
}
