$c-white: #fff;
$c-black: #000;
$c-dark: #191813;
$c-beige: #b5b3a4;
$c-tan: #444;
$c-brown: #5a3b28;
$c-brown-dark: #2e2a26;
$c-brown-light: #4c3c29;
$c-gold: #b8860b;
$c-gold-light: #daa520;
$c-gold-bright: #fcc200;
$c-green: #428a32;
$c-red: #9f1e49;
$c-red-dark: #3F0C1D;

$c-corruption: #630eb8;
$c-corruption-light: #c187c2;
$c-toughness: $c-red;
$c-willpower: #00bfff;
$c-armorRating: #85806f;

$c-border: #7a7971;
$c-light-text: #ddd;
$c-background: #0b0a13f2;


:root {
  --wod-color-white: #{$c-white};
  --wod-color-black: #{$c-black};
  --wod-color-dark: #{$c-dark};
  --wod-color-beige: #{$c-beige};
  --wod-color-tan: #{$c-tan};
  --wod-color-brown: #{$c-brown};
  --wod-color-brown-dark: #{$c-brown-dark};
  --wod-color-brown-light: #{$c-brown-light};
  --wod-color-gold: #{$c-gold};
  --wod-color-gold-light: #{$c-gold-light};
  --wod-color-gold-bright: #{$c-gold-bright};
  --wod-color-green: #{$c-green};
  --wod-color-red: #{$c-red};
  --wod-color-red-dark: #{$c-red-dark};

  --wod-color-corruption: #{$c-corruption};
  --wod-color-corruption-light: #{$c-corruption-light};
  --wod-color-toughness: #{$c-toughness};
  --wod-color-willpower: #{$c-willpower};
  --wod-color-armorRating: #{$c-armorRating};

  --wod-color-border: #{$c-border};
  --wod-color-light-text: #{$c-light-text};
  --wod-color-background: #{$c-background}
}