@use "../utils" as utils;

.wrath-of-davokar {

  .die-roll {
    border: 1px solid utils.$c-dark;
    border-radius: 20px;
    padding: 5px;
    width: fit-content;
    background: utils.$c-dark;
    color: utils.$c-light-text;
    transition: box-shadow 0.3s ease, font-weight 0.3 ease;
  }

  .die-roll:hover, .die-roll:focus, .interactive:hover, .interactive:focus  {
    cursor: pointer;
    box-shadow: 0 0 10px 0 utils.$c-shadow-red;
    font-weight: bold;
  }
}