@use "../utils" as utils;

.wrath-of-davokar {


  .quality {
    background: utils.$c-toughness;
    color: utils.$c-light-text;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.1em 0.5em;
    text-align: center;
    border-radius: 1vh;
  }

  .item-send-to-chat {
    flex: 0;
    font-size: 1.5em;
    aspect-ratio: 1 / 1;
    margin-right: 5px;
  }

  .artifact-power-warning {
    color: utils.$c-red-dark;
  }

  .artifact-power-list {
    .dimmed {
      color: utils.$c-beige;
    }
  }

  .artifact-power-search {
    .artifact-power-dropdown {
      border: utils.$c-border 1px solid;
      border-top-width: 0;
      border-radius: 0 0 1em 1em;
      margin-top: 0;
      margin-left: 1em;
      margin-right: 1em;
      padding: 1em;
      background-color: utils.$c-dark;
      list-style-type: none;

      .artifact-power-dropdown-item {
        text-align: left;
        cursor: pointer;
      }

      .already-added {
        color: utils.$c-green;
        cursor: default;
      }

    }
  }

  // -----------------------------------------
  // Items Lists
  // -----------------------------------------

  .items-title {
    font-size: 1.25em;
    margin-top: 15px;
  }

  // Section Header
  .items-header {
    height: fit-content;
    font-weight: bold;
    background-image: linear-gradient(to right, utils.$c-red-dark, utils.$c-red);
    color: utils.$c-light-text;

    >* {
      text-align: center;
      color: utils.$c-light-text;
    }

    .item-name {
      font-weight: bold;
      text-align: left;
      display: flex;
    }
  }

  .container-list {
    border-left: utils.$c-border 2px solid;
  }

  .items-list {
    list-style: none;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 0;

    // Item Name
    .item-name {
      flex: 2;
      overflow: hidden;
      text-align: left;
      align-items: center;
      display: flex;

      h3,
      h4 {
        margin: 0;
        white-space: wrap;
      }
    }

    // A Control Button or Link
    .item-control {
      cursor: pointer;
      transition: text-shadow 0.3s ease;

      &:hover,
      &:focus {
        transform: scale(1.01);
        transition: all 0.2s ease-in-out;
      }
    }

    // Control Buttons Div
    .item-controls {
      display: flex;
      flex: 0 0 60px;
      justify-content: flex-end;
      padding: 5px;

      &.edit-mode{
        flex: 0 0 110px;
      }

      a {
        font-size: 12px;
        text-align: center;
        margin: 0 6px;
      }
    }

    // Individual Item
    .item {
      align-items: center;
      padding: 0 2px; // to align with the header border
      border-bottom: 1px solid utils.$c-border;

      &:last-child {
        border-bottom: none;
      }

      .item-image {
        flex: 0 0 30px;
        height: 30px;
        background-size: 30px;
        border: none;
        margin-right: 5px;
      }

      .item-attribute {
        flex: 0 0 8em;
        padding: 5px;
        text-align: center;
      }

      .item-attribute.base-damage,
      .item-attribute.armor-rating,
      .item-attribute.impeding,
      .item-attribute.parry-bonus,
      .item-attribute.vision-penalty,
      .item-attribute.type {
        flex: 0 0 8em;
      }

      .item-attribute.grip {
        flex: 0 0 4em;
      }

      .item-attribute.range,
      .item-attribute.weight {
        flex: 0 0 5em;
      }

      .item-armor-rating {
        width: 2em;
      }

      .quality-list-row {
        width: 100%;
        justify-content: start;
        gap: 10px;
        padding-left: 30px;
        padding-bottom: 10px;
      }
    }
  }
}