@use "../utils" as utils;

.wrath-of-davokar {

  .panel-like-item {
    margin: 1em 0;
  }

  .panel,
  .panel-no-flex {
    border: 1px solid utils.$c-border;
    margin: 1em;
    min-width: 200px;

    .panel-header {
      background-image: linear-gradient(to right, utils.$c-red-dark, utils.$c-red);
      color: utils.$c-light-text;
      font-weight: bold;
      padding: 5px;
      text-align: center;

      input {
        color: utils.$c-light-text;
      }
    }

    .panel-content{
      margin: 10px;
    }
  }

  .panel {
    flex: 1;
  }

}
