@use "../utils" as utils;

.wrath-of-davokar {

  .talent-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;
    padding: 1em;
  }
  .talent-card {
    border: 1px solid utils.$c-border;
    display: flex;
    flex-direction: column;

    .item-image {
      margin: -5px;
    }

    .talent-header {
      background-image: linear-gradient(to right, utils.$c-red-dark, utils.$c-red);
      color: utils.$c-light-text;
      font-weight: bold;
      padding: 5px;
      text-align: center;
    }

    .talent-text{
      flex: 1;
      padding: 0 1em;
      max-height: 15em;
      overflow-y: scroll;
      overflow-x: clip;
      text-wrap: wrap;
    }

    .talent-content{
      margin: 1em;
      display: flex;
      flex-flow: column;
      flex: 1;
      justify-content: space-between;
    }

    .talent-bottom-row{
      text-align: left;
      border-top: 1px solid utils.$c-border;
      padding-top: 1em;
    }
  }
}