@use "../utils" as utils;

.wrath-of-davokar.wrath-orb-container {
  width: clamp(80px, 15vmin, 100px);
  height: auto;
  position: relative;
  margin: clamp(20px, 4vmin, 30px) auto; ;
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrath-orb {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    z-index: 10;

    .wrath-border {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: auto;
      z-index: 13;
    }

    .wrath-liquid-container {
      position: absolute;
      inset: 0;
      border-radius: 50%;
      height: 86%;
      width: auto;
      aspect-ratio: 1/1;
      left: 50%;
      transform: translateX(-50%);
      top: 10%;
      overflow: hidden;
      background: radial-gradient(ellipse at center, rgba(17, 17, 17, 0.2) 0%, rgba(255, 255, 255, 0.3333333333) 100%);
      
      .wrath-liquid {
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateY(0%);
        transition: transform 0.4s ease-in-out;
        z-index: 11;
        object-fit: cover;
      }
    }
    .wrath-points {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -44%);
      color: utils.$c-gold-light;
      font-size: clamp(1rem, 3.5vmin, 2rem);
      font-family: "Cinzel", serif;
      z-index: 12;
      text-shadow: 0 0 5px #000;
    }
  }

  .wrath-controls {
    margin-top: clamp(4px, 1vmin, 12px);
    display: flex;
    gap: clamp(2px, 0.5vmin, 8px);
    pointer-events: all;

    button {
      background: utils.$c-dark;
      border: 1px solid utils.$c-gold;
      color:utils.$c-gold-light;
      font-size: clamp(0.8rem, 2vmin, 1rem);
      font-weight: bold;
      width:clamp(20px, 4vmin, 1.2rem);
      aspect-ratio: 1/1;
      border-radius: 6px;
      cursor: pointer;
      font-family: serif;

      &:hover {
        border: 1px solid utils.$c-gold;
        background: utils.$c-tan;
        color: white;
        box-shadow: 0 0 5px utils.$c-gold-light;
      }

      &:focus {
        border: 1px solid utils.$c-gold;
        box-shadow: 0 0 5px utils.$c-gold-light;
        outline: unset;
      }
    }
  }
}
